@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer components {

  .apollo-logo {
    @apply w-auto h-24 rounded-full grow;
  }

  .navbar-items {
    @apply font-serif text-lg font-semibold text-white hover:text-indigo-400;
  }
  .footbar-items {
    @apply px-3 font-serif text-sm font-semibold text-gray-100 place-self-center hover:text-indigo-400;
  }
  /* ./Costom hover*/
  .grow {
	  transition: all .2s ease-in-out;
  }
  .grow:hover {
	transform: scale(1.1);
  }
  .my-card {
    @apply container max-w-sm p-6 mx-auto mt-40 bg-indigo-900 border border-opacity-75 rounded-lg shadow sm:px-2 md:max-w-lg bg-opacity-20;
  }
  .my-card-title {
    @apply my-1 mb-2 font-serif font-semibold text-blue-200 grow;
  }
  .my-card-item-staff-img {
    @apply object-cover object-center mx-auto duration-300 ease-in-out transform rounded-lg hover:scale-105;
  }
}
  html {
    scroll-behavior: smooth;
  }

/* The following styles are for the footer element */
footer {
  flex-shrink: 0;
}

.time {
  margin-left: .6em;
  font-size: .8em;
  font-weight: 400;
  opacity: .7;
}
.server-hardware {
  margin: 2px 0 6px 2px;
}
